@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a mi sistema</h1>
    @*<p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis rutrum risus. Phasellus a sem pharetra, blandit dui non, pretium sapien. Phasellus eu libero et nulla feugiat vestibulum sed vitae felis. Mauris eu mi posuere, lacinia sapien quis, egestas nisi. Sed molestie risus magna, id euismod arcu elementum vel. Etiam dictum dolor id ornare congue. Duis luctus arcu vel finibus commodo. Nam blandit blandit felis sit amet laoreet. Maecenas ante nibh, tempus quis justo a, scelerisque tempus mi. Sed sed ullamcorper lacus, eget commodo turpis. Curabitur vitae justo est. Etiam non erat eu lacus dignissim pharetra. Maecenas a elit ut purus molestie elementum.

        Sed ornare feugiat augue et vehicula. Nunc dictum augue euismod turpis lobortis ultricies. Quisque ultrices sit amet elit sit amet egestas. Integer in sapien vestibulum, pretium felis at, condimentum libero. Vivamus ultricies enim placerat eros elementum hendrerit. Suspendisse placerat lectus id mauris mattis cursus. Morbi ut pretium libero. Donec dui mauris, elementum quis leo id, dapibus tempor purus. Donec tincidunt tellus purus, id dignissim neque lobortis nec. Nunc ac diam sit amet sem commodo laoreet. Sed ut ornare velit.

        Proin euismod augue sed ligula malesuada, in eleifend leo mollis. Curabitur accumsan dolor euismod augue gravida iaculis. Sed tempus velit posuere lacus faucibus, nec scelerisque sem semper. Nam mollis vehicula ipsum, vel auctor quam porttitor vel. Nunc erat quam, rhoncus vitae mollis sit amet, porta sed nibh. Cras porta est purus, ut porttitor tellus ornare id. Nam euismod sem nec magna condimentum, ac venenatis felis tempor. Mauris ac elit leo. Suspendisse potenti. Nulla id mi id nulla ultrices facilisis id ac lorem. Nulla id risus quis nibh rhoncus blandit. Sed placerat, ex id convallis pharetra, felis urna hendrerit libero, vel finibus sapien erat eu lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

        Nam pulvinar augue nulla, vitae auctor purus faucibus quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ex arcu, bibendum vitae malesuada non, commodo nec leo. Duis vitae odio accumsan tortor dictum feugiat. Sed placerat eros eget eros consectetur fringilla. Maecenas tempor orci non purus viverra, at vulputate lectus lacinia. Suspendisse sed tellus ac purus facilisis elementum. Ut quis urna ac odio tincidunt porta et quis magna. Integer id erat in neque mattis mattis at et mi. Quisque laoreet euismod libero, vel sollicitudin risus finibus fermentum. Praesent et orci in dolor dignissim pulvinar.

        Ut felis neque, malesuada eu pellentesque a, accumsan in lacus. Curabitur vehicula, metus at volutpat malesuada, eros ipsum hendrerit quam, accumsan feugiat turpis risus eget nunc. Aenean rhoncus cursus tellus ac vestibulum. Nunc laoreet eros magna, id condimentum quam venenatis quis. Praesent non ante velit. Etiam pretium pulvinar gravida. Vivamus tincidunt auctor nisl nec pellentesque. In sodales libero elit, ut pharetra tellus auctor rutrum. Nunc quis molestie lectus, nec aliquet urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi at felis risus. Duis sollicitudin tortor at augue posuere, ac varius est pulvinar. Nullam mollis tellus at libero maximus viverra. Nunc massa enim, luctus eget faucibus ut, pellentesque quis erat.</a>.
    </p>*@
<div class="card-columns">

    <div class=" card border border-success">
        <a href="/Pais/Index">Ingresa a los paises</a>
    </div>

    <div class=" card  m-1">

        <a href="/Clientes/Index"><i class="fa fa-user fa-3x" style="color:#3352FF" aria-hidden="true"></i></a>
        Ingresa a los Clientes
    </div>

    <div class=" card m-1">

        <a href="/Clientes/Create"><i class="fa fa-user fa-3x" style="color:#3352FF" aria-hidden="true"></i></a>
       Crear un nuevo Cliente
    </div>

</div>


</div>
